/* let's have some basic styling for the body */
body {
    font-family: Arial, Helvetica, sans-serif;
    /* so above rule says: if Arial is not available, use Helvetica,
       if neither is available, use any sans-serif font */
    /* let's have whole page a nice light blue background color */
    background-color: rgb(207, 229, 237);
}

/* let's have round border around all box class elements */
.box {
    border: 2px solid black;
    border-radius: 10px;
    background-color: white;
    padding: 10px; /* space between content and border */
    margin: 10px;  /* space between border and other elements */
}

/* let's have less margin and padding for box2 class elements */
.box2 {
    border: 3px solid rgb(123, 25, 25);
    border-radius: 5px;
    background-color: rgb(241, 231, 231);
    padding: 5px; /* space between content and border */
    margin: 5px;  /* space between border and other elements */
}

/* let's have specific width and height for box3 class elements */
.box3 {
    width: 400px;
    height: 100px;
}

/* let's have box4 take 50% of width and 50% of height of its parent */
.box4 {
    width: 50%;
    height: 30px;
}

/* let's have a nice bold style for class note elements */
.note {
    font-weight: bold;
    color: red;
}
